.App {
  text-align: center;
}
.theme-dark {
  background-color: #111b21;
  color: white;
  .book input,
  .author input {
    background-color: #202c33;
    /* box-shadow: 0px 0px 10px white; */
    color: white;
  }
  .custom_btn {
    background-color: #8696a0;
    color: black;
  }
  .swal2-popup {
    background-color: #202c33;
  }
  .ant-spin-spinning {
    color: white;
  }
}
.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.book,
.author {
  text-align: left;
}
.book input,
.author input {
  padding: 10px;
  /* box-shadow: 0px 0px 10px black; */
  border: none;
  border-radius: 13px;
  width: 100%;
  font-size: 20px;
  background-color: #f0f2f5;
}
.form {
  padding-top: 50px;
}
.form_div {
  margin-top: 50px;
}
.theme-switch {
  float: right;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: 100px;
  padding: 10px;
}
#moon-img,
#sun-img {
  width: 20px;
}
.submit-btn {
  margin-top: 20px;
}
.custom_btn {
  background-color: #25d366;
  color: white;
  font-size: 18px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.loader {
  margin-top: 15%;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
  left: 0;
  top: 0;
  z-index: 1070;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.dark-alert {
  background: #101314;
  color: white;
}
